[Unit]
Description=webserver application
After=syslog.target network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/bin/bash start_webserver.sh

# In case if it gets stopped, restart it immediately
Restart=always

[Install]
WantedBy=multi-user.target